name: Build & Push Nextcloud to OCI Image Registry

on:
  push:
    branches:
      - master
    paths:
      - "src/Dockerfile"
      - "./.github/workflows/**"
  pull_request:
    branches:
      - master
    paths:
      - "src/Dockerfile"
      - "./.github/workflows/**"

permissions:
  contents: read
  packages: write

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    with:
      dockerfile-path: src/Dockerfile
      images: |
        docker.io/hazmi35/nextcloud
        ghcr.io/hazmi35/nextcloud
    secrets:
      docker-hub-username: hazmi35
      docker-hub-access-token: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      ghcr-username: ${{ github.repository_owner }}
      ghcr-access-token: ${{ secrets.GITHUB_TOKEN }}
